*.swp
*.pyc
*.obj
*.exe
scratch/
doc/html/
doc-publish/
test/cxxtest/*.cc
test/build
debian/.debhelper/
debian/better-enums0-dev.substvars
debian/better-enums0-dev/
debian/debhelper-build-stamp
debian/files
