<p>
  This is an example of code you can write on top of Better Enums. It's a valid
  program &mdash; you can <a href="$source">download</a> it and try it out. The
  program is also part of the test suite.
</p>

$demo_body

<section class="tutorial-footer">
  <p class="up">
    Return to the <a href="${prefix}index.html#CompileTimeDemos">demo index</a>.
  </p>
</section>
