  </div>
</div>

<footer>
  <div class="container">
    Copyright &copy; 2015-2021 Anton Bachin. Released under the BSD 2-clause
    license. See
    <a href="https://github.com/aantron/better-enums/blob/$ref/doc/LICENSE">
    LICENSE</a>.
    <br />
    This page is part of the documentation for Better Enums $version.
  </div>
</footer>

</body>
</html>
