<!DOCTYPE html>

<html>
<head>

<title>$title</title>

<link rel="canonical" href="$canonical" />
<meta name="description" content="$description" />
<meta name="author" content="Anton Bachin" />

<meta name="viewport" content="width=device-width" />

<link rel="stylesheet" href="${prefix}better-enums.css" />

$ga

</head>
<body class="$class">

<nav>
  <div class="container">
    <a class="first" $download>Download</a>
    <a href="$repo">GitHub</a>
    <a href="${prefix}index.html">Home</a>
    <a href="${prefix}tutorial/HelloWorld.html">Tutorial</a>
    <a href="${prefix}ApiReference.html">Reference</a>
    <a href="${prefix}Contact.html">Contact</a>
  </div>
</nav>

<div class="spacer">&nbsp;</div>

<header>
  <div class="container">
    <section>
      <h1><a href="${prefix}index.html">Better Enums</a></h1>
      <h2>Reflective compile-time enums for $cxx</h2>
      <h3>Open-source under the BSD license</h3>
    </section>

    <section class="notes">
      <p>Version $version</p>
      <p>To install, just add <code>enum.h</code> to your project.</p>
      <p>
        Visit the GitHub repo for issues, feedback, and the latest development.
      </p>
    </section>

    <section class="buttons">
      <a $download>Download <code>enum.h</code></a>
      <a href="$repo">GitHub</a>
    </section>
  </div>
</header>

<div class="main">
  <div class="container">
