<section class="tutorial-footer">
  <p class="next">
    Continue to the next tutorial: <a href="$prefix$next_link">${next_title}</a>
  </p>

  <p class="up">
    Or, return to the
    <a href="${prefix}index.html#Tutorial">tutorial index</a>.
  </p>
</section>
