<p>
  Welcome to the Better Enums tutorials! The code in this tutorial forms a
  valid program, which you can <a href="$source">download</a> and play with. The
  program runs as part of the automated test suite.
</p>

$tutorial_body

$computed_next
