<a href="https://twitter.com/intent/tweet?hashtags=cplusplus&text=${quoted_title}&tw_p=tweetbutton&url=${quoted_url}&via=better_enums" class="tweet-share">
  <img src="${prefix}image/tweet.png" alt="Share this page"></img>
</a>